In [ ]:
import json
import pickle
import pandas as pd
import os

JSON
1.1 Считайте файл contributors_short.json. Воспользовавшись модулем json, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [ ]:
with open("contributors_sample.json", "r") as read_file:
    data = json.load(read_file)

In [ ]:
data[:3]

[{'username': 'uhebert',
  'name': 'Lindsey Nguyen',
  'sex': 'F',
  'address': '01261 Cameron Spring\nTaylorfurt, AK 97791',
  'mail': 'jsalazar@gmail.com',
  'jobs': ['Energy engineer',
   'Engineer, site',
   'Environmental health practitioner',
   'Biomedical scientist',
   'Jewellery designer'],
  'id': 35193},
 {'username': 'vickitaylor',
  'name': 'Cheryl Lewis',
  'sex': 'F',
  'address': '66992 Welch Brooks\nMarshallshire, ID 56004',
  'mail': 'bhudson@gmail.com',
  'jobs': ['Music therapist',
   'Volunteer coordinator',
   'Designer, interior/spatial'],
  'id': 91970},
 {'username': 'sheilaadams',
  'name': 'Julia Allen',
  'sex': 'F',
  'address': 'Unit 1632 Box 2971\nDPO AE 23297',
  'mail': 'darren44@yahoo.com',
  'jobs': ['Management consultant',
   'Engineer, structural',
   'Lecturer, higher education',
   'Theatre manager',
   'Designer, textile'],
  'id': 1848091}]

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [ ]:
mail_domens = set()
for people in data:
    mail = people['mail']
    domen = mail.split('@')[1]
    mail_domens.add(domen)
mail_domens

{'gmail.com', 'hotmail.com', 'yahoo.com'}

1.3 Написать функцию, которая по username ищет человека и выводит информацию о нем. Если пользователь отсутствует, возбудите исключение ValueError

In [ ]:
def find_by_username(data, username):
    answ = []
    for people in data:
        if people['username'] == username:
            answ.append(people)
    if len(answ) == 0:
        raise Exception(ValueError('Человек с таким username не найден'))
    else:
        return answ

find_by_username(data, 'sheilaadams')

[{'username': 'sheilaadams',
  'name': 'Julia Allen',
  'sex': 'F',
  'address': 'Unit 1632 Box 2971\nDPO AE 23297',
  'mail': 'darren44@yahoo.com',
  'jobs': ['Management consultant',
   'Engineer, structural',
   'Lecturer, higher education',
   'Theatre manager',
   'Designer, textile'],
  'id': 1848091}]

1.4 Посчитать, сколько мужчин и женщин присутсвует в этом наборе

In [ ]:
male, female = 0, 0
for people in data:
    if people['sex'] == 'M':
        male += 1
    elif people['sex'] == 'F':
        female += 1
male, female

(2064, 2136)

1.5 Создайте pd.DataFrame contributors, имеющий столбцы id, username и sex.

In [ ]:
contributors = pd.DataFrame(data)[['id', 'username', 'sex']]
contributors

           id       username sex
0       35193        uhebert   F
1       91970    vickitaylor   F
2     1848091    sheilaadams   F
3       50969       nicole82   F
4      676820         jean67   M
...       ...            ...  ..
4195   423555  stevenspencer   F
4196    35251      rwilliams   M
4197   135887      lmartinez   F
4198   212714     brendahill   M
4199   344321       mistyray   F

[4200 rows x 3 columns]

1.6 Загрузите данные из файла recipes_short.csv в таблицу recipes. Объедините recipes с таблицей contributors с сохранением строк в том случае, если информация о человеке отсутствует в JSON-файле. Для скольких человек информация отсутствует?

In [ ]:
recipes = pd.read_csv('recipes_sample.csv', parse_dates=[4])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [ ]:
table = pd.merge(recipes, contributors, left_on='contributor_id', right_on='id')
table

,name,id_x,minutes,contributor_id,submitted,n_steps,description,n_ingredients,id_y,username,sex
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,35193,uhebert,F
1,allegedly original cobb salad dressing,39189,5,35193,2002-09-03,3.0,"avocado, tomato, thick bacon slices crumbled, ...",8.0,35193,uhebert,F
2,basic cake gluten free,52100,55,35193,2003-01-24,NaN,a basic cake recipe adapted from carol fenster...,14.0,35193,uhebert,F
3,basil garlic butter,32311,15,35193,2002-06-26,6.0,wonderful to have on hand!,NaN,35193,uhebert,F
4,beer marinated shrimp,36315,125,35193,2002-08-05,NaN,this is best made ahead and is great during th...,7.0,35193,uhebert,F
...,...,...,...,...,...,...,...,...,...,...,...
14936,zucchini and noodle slice,412518,60,423555,2010-02-10,21.0,"a yummy, tasty slice packed with vegies and ri...",13.0,423555,stevenspencer,F
14937,zucchini asiago pancakes,387844,20,35251,2009-08-31,9.0,a great way to get your veggies in and a delic...,NaN,35251,rwilliams,M
14938,zucchini carrot cupcakes,468621,30,135887,2011-11-21,NaN,moist and healthy cupcake. delicious with or ...,14.0,135887,lmartinez,F
14939,zucchini lemon bread,120742,90,212714,2005-05-05,11.0,this recipe is from governor william j. janklo...,NaN,212714,brendahill,M
14940,zucchini with bell pepper and tomato,363362,13,344321,2009-03-29,19.0,the weather has been turning warmer and i have...,8.0,344321,mistyray,F

pickle
2.1 На основе файла contributors_short.json создайте словарь следующего вида:

{
    должность: [список username людей, занимавших эту должность]
}

In [ ]:
jobs = []
for people in data:
    jobs.extend(people['jobs'])
diction = {i:[] for i in set(jobs)}
for people in data:
    for job in people['jobs']:
        diction[job].append(people['username'])
diction

2.2 Сохраните результаты в файл job_people.pickle и в файл job_people.json с использованием форматов pickle и JSON соответственно. Сравнить объемы получившихся файлов. При сохранении в JSON укажите аргумент indent.

In [ ]:
with open('job_people.pickle', 'wb') as f:
    pickle.dump(diction, f)
    
with open("job_people.json", "w") as f:
    json.dump(diction, f, indent=3)
    
    
os.path.getsize("job_people.pickle"), os.path.getsize("job_people.json")

(132236, 372879)

2.3 Считайте файл pickle и продемонстрируйте, что данные считались корректно.

In [ ]:
with open("job_people.json", "r") as read_file:
    data1 = json.load(read_file)
    
with open("job_people.pickle", "rb") as read_file:
    data2 = pickle.load(read_file)

In [ ]:
data1

In [ ]:
data2

### XML

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

In [ ]:
content = open("steps_sample.xml", 'r').read()
soup = BeautifulSoup(content, 'xml')

result_dict = {}
for recipe in soup.find_all("recipe"):
    recipe_id = int(recipe.find("id").get_text())
    result_dict[recipe_id] = []
    for step in recipe.find_all("step"):
        text = step.get_text()
        result_dict[recipe_id].append(text)
result_dict

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

In [ ]:
steps = [[y for y in i.find_all('step') if y.get("has_minutes") is not None or y.get("has hours") is not None] for i in ko.find_all('steps')]
id_teg = [id[i] for i in range(len(steps)) if len(steps[i]) != 0]
id_teg

3.4 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Для строк, которые содержат пропуски в столбце `n_steps`, заполните этот столбец на основе файла  `steps_sample.xml`. Строки, в которых столбец `n_steps` заполнен, оставьте без изменений.

In [ ]:
with open('steps_sample.xml') as f:
ab = BeautifulSoup(f,'xml')
l = [len(el.steps.text.split('\n'))-1 for el in ab.find_all('recipe')] 
recipe = pd.read_csv('recipes_sample-csv')
recipe.n_steps = recipe.n_steps.fillna('XXXX')
for i in range(len(recipe['n_steps'])): 
    if recipe['n_steps'][i] == 'XXXX':
        recipe['n_steps'][i] = l[i]
    print(recipe['n_steps'][i])

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`

In [ ]:
w = csv.writer()
print(recipe.n_steps.isna().sum())
recipe.n_steps = recipe.n_steps.astype(float)
recipe = recipe.to_csv('recipes_sample_with_filled_nsteps.csv')